 <body>
 <div class="card">
        <header>
            <h1 class="WhiteColor">Golden Hamster</h1>
            <p class="WhiteColor">I am Groot</p>
        </header>
        <div class="content">
            <h2>Invite friends and get more GROOT</h2>
            <img src="ManIcon.jpeg" alt="Groot Image" class="groot-image">
            <p>Tap on the button to invite your friends</p>
            <button class="invite-button">Invite friends</button>
        </div>
        <footer>
            <nav class="WhiteColor">
                <a href="/home">Home</a>
                <a href="/task">Task</a>
                <a href="/referal">Frends</a>
                <a href="/wallet">Wallet</a>
            </nav>
        </footer>
    </div>

</body>