body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.WhiteColor
{
   color: white;
}
.container {
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: left;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.section-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
}
.description {
    font-size: 0.9em;
    margin-bottom: 20px;
    line-height: 1.4em;
}
.social-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.social-task img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.start-button {
    background-color: #5a5a5a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: not-allowed;
}
.bp-points {
    color: #999999;
    margin-left: 5px;
}
.nav-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}