<body>


<div class="container">
    <div class="title WhiteColor">
        <img src="ManIcon.jpeg" alt="Groot Avatar" class="profile-pic">
        <span >I am Groot</span>
    </div>

    <div class="section-title WhiteColor">Groot socials<sup></sup></div>
    <div class="description WhiteColor" >
        Join Groot community, be aware of new and following updates, find your tribe in Groot.
    </div>

    <div class="social-task WhiteColor">
        <span><img src="youtube.jpeg" alt="YouTube"> Follow Groot on Youtube</span>
        <span>200 BP</span>
        <button class="start-button">Start</button>
    </div>
    <div class="social-task WhiteColor">
        <span><img src="insta.jpeg" alt="Instagram"> Follow Groot CMO on IG</span>
        <span>+90 BP</span>
        <button class="start-button">Start</button>
    </div>
    <div class="social-task WhiteColor">
        <span><img src="fb.jpeg" alt="Facebook"> Join Groot Facebook</span>
        <span>+90 BP</span>
        <button class="start-button">Start</button>
    </div>
    <!-- <div class="social-task WhiteColor">
        <span><img src="https://instagram-logo-url" alt="Instagram"> Join Groot Instagram</span>
        <span>+90 BP</span>
        <button class="start-button">Start</button>
    </div> -->
    <div class="social-task WhiteColor">
        <span><img src="X.jpeg" alt="X"> Join Groot on X</span>
        <span>+90 BP</span>
        <input type="radio" name="task-radio">
    </div>
    <div class="social-task WhiteColor">
        <span><img src="telegram.jpeg" alt="Telegram"> Join Groot Telegram</span>
        <span>+90 BP</span>
        <input type="radio" name="task-radio">
    </div>

    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/task">Task</a>
        <a href="/referal">Frends</a>
        <a href="/wallet">Wallet</a>
    </div>

    <div class="footer WhiteColor">&#64;GoldenHamster1_bot</div>
</div>
</body>