<body>
<div class="container">
    <img src="ManIcon.jpeg" alt="Groot Avatar" class="profile-pic">
    <div class="title WhiteColor">I am Groot</div>
    <button class="connect-button WhiteColor " disabled  style="background-color: #007bff;">Connect wallet Soon</button>
    <!-- <div class="footer-icons">
        <img src="https://your-bybit-logo-url" alt="Bybit">
        <img src="https://your-gateio-logo-url" alt="Gate.io">
    </div> -->
    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/task">Task</a>
        <a href="/referal">Frends</a>
        <a href="/wallet">Wallet</a>
    </div>
</div>

</body>