<body>

    <div class="container">
        <div class="title WhiteColor">
            <img src="ManIcon.jpeg" alt="Groot Avatar" class="profile-pic">
            <div>I am Groot</div>
        </div>
        <div class="groot-amount WhiteColor">20,000 Groot</div>
        <button class="claim-button WhiteColor">2000 Claim Groot</button>
        
        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/task">Task</a>
            <a href="/referal">Frends</a>
            <a href="/wallet">Wallet</a>
        </div>

        <div class="footer WhiteColor">&#64;GoldenHamster1_bot</div>
    </div>

</body>